<h1>About the project</h1>
<p>This project was made for artifical intelligence course.</p>
<p>It contains two games:</p>
<ul>
  <li>The first is a one person gamewhich solves a chess problem (2.45)</li>
  <li>The second is a two person game played on 3x3 board with three different colored stones. (2.25)</li>
</ul>
<h2>One person game:</h2>
<p>The task is to get the chess pices from the first state to the secound according to the chess rules.</p>
<div class="row justify-content-center">
  <img [src]="'assets/Chess-state-start.png'" alt="" class="col-md-4">
  <img [src]="'assets/Chess-state-end.png'" alt="" class="col-md-4">
</div>
<h2>Two person game:</h2>
<p>This game is played by two person on 3x3 board with red, yellow and green stones.</p>
<p>The players come after one another and can choose one of the following options:</p>
<ul>
  <li>A red stone can be placed on an empty field</li>
  <li>A red stone can be changed to a yellow stone</li>
  <li>A yellow stone can be changed to a green stone</li>
</ul>
<p>The player whose step after there is a line, row or diagonal of 3 same coloured stones wins.</p>